.container {
  display: flex;
  flex-direction: column; 
  width: 100%;
}

.graphView {
  display: flex;
  flex-direction: row; }

.graph-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}

.top-number-container {
  display : flex;
  flex-direction: row;
  height: 50px;
   
}

.topNumberCell {
  background-color: pink;
  width: 50px;
  justify-content: center;
  align-content: center;
  margin-left: 3px;
  display: flex;
}

.topNumberCellText {
  align-self: center;
}

.empty-number-div {
  width: 50px;
}

.whole-graph-container {
  display: flex;
  flex-direction: row;
}

.left-number-container {
  display: flex;
  flex-direction: column;
}


.leftNumberCell {
  background-color: pink;
  width: 50px;
  height: 50px;
  align-self: center;
  justify-content: center;
  align-content: center;
  margin-top: 3px;
  display: flex;
}

.leftNumberCellText {
  align-self: center;
}

.graph-roads-div {
  flex : 1;
  flex-direction: column;
}

.graph-cell {
  width: 50px;
  justify-content: center;
  align-content: center;
  margin-left : 3px;
}

.graph-cell-green {
    @extend .graph-cell;
    background-color: green;
}

.graph-cell-red {
    @extend .graph-cell;
    background-color: red;
}

.graph-cell-text {
    align-self: center;
}

.graph-row {
    height: 50px;
    display: flex;
    flex-direction: row;
    margin-top : 3px;
}

/******/

.action-controls-container {
  display: flex;
  flex-direction: column;
}

.action-control-inner-container {
  margin-bottom: 5px;
  padding:5px;
}

.stop-numbers-container {
  display: flex;
  flex-direction: column;
  @extend .action-control-inner-container;
}

.dice-bound-container {
  display: flex;
  flex-direction: column;
  @extend .action-control-inner-container;
}

.white-portal-container {
  display: flex;
  flex-direction: column;
  @extend .action-control-inner-container;
}

.black-portal-container {
  display: flex;
  flex-direction: column;
  @extend .action-control-inner-container;
}

.general-input {
  width: 40px;
}

.stop-number-input {
  @extend .general-input;
}

.dice-bound-input {
  @extend .general-input;
}

.portal-input {
  @extend .general-input;
}

.portal-control {
  display: flex;
  flex-direction: row;
}